body {
  font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
  /* margin: auto; */
  /* max-width: 38rem; */
  /* padding: 2rem; */
}

#control-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#control-container > div {
  display: flex;
  align-items: flex-end;
}

#token-input-container {
  width: 425px;
}

#token-input-container va-text-input {
  width: 100%;
}

.show-container {
  display: block;
}

.hide-container {
  display: none;
}


#upload-results-container {
  margin-top: 25px;
}

#upload-results-container div {
  margin-bottom: 10px;
}

#upload-results-container ul {
  padding: 0px 10px;
  margin: 10px 0px;
}

#milestone .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copy-result.success {
  color: darkgreen;
}

#copy-result.fail {
  color: darkred;
}

.copy-container {
  position: relative;
}

.div-one {
  position: absolute;
  top: -25px;
}

code {
  max-width: 600px;
  overflow-x: auto; 
  white-space: nowrap; 
}

#milestone {
  padding: 8px;
  border: 1px solid gray;
}