body {
  font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
  /* margin: auto; */
  /* max-width: 38rem; */
  /* padding: 2rem; */
}

#control-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#control-container > div {
  display: flex;
  align-items: flex-end;
}

#token-input-container {
  width: 425px;
}

#token-input-container va-text-input {
  width: 100%;
}

.hide-container {
  display: none !important;
}

#upload-results-container {
  margin-top: 25px;
}

#upload-results-container div {
  margin-bottom: 10px;
}

#upload-results-container ul {
  padding: 0px 10px;
  margin: 10px 0px;
}

dialog {
  transform: translateY(250px);
}

#slack-message pre {
  text-wrap: wrap;
}

div.copy-slack-container {
  display: flex;
  justify-content: end;
}

div.copy-slack-dialog {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#sleep-timer {
  text-align: center;
}

#prog-bar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#prog-bar > div {
  width: 50%;
}